body {
  background: rgba(254, 252, 166, 0.2);
  font-family: "Bricolage Grotesque", sans-serif;
}

.weather-app-content {
  background: #fff;
  border-radius: 10px;
  max-width: 700px;
  margin: 20px auto;
  padding: 30px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

.header-title {
  text-align: center;
  padding: 15px 20px;
}

.weather-form-input {
  background: rgba(254, 252, 166, 0.2);
  width: 80%;
  padding: 15px 20px;
  border-radius: 4px;
  border: 1px solid #ffcedd;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.weather-form-button {
  background: #ffcedd;
  border: none;
  padding: 15px 20px;
  border-radius: 4px;
  margin-left: 5px;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 18px;
  width: 18%;
  font-weight: 500;
}
main {
  margin: 20px;
}
.weather-city-name {
  margin: 0;
  margin-top: 20px;
  font-size: 40px;
}

strong {
  color: #ff9ebb;
}

.weather-current-details {
  margin: 0;
}

.weather-current-container {
  display: flex;
  justify-content: space-between;
}

.weather-current-display {
  display: flex;
}

.weather-current-icon {
  font-size: 50px;
  margin-top: 15px;
}

.weather-current-temperature {
  font-size: 88px;
}

.weather-current-unit {
  font-size: 30px;
  margin-top: 15px;
}
ul {
  padding: 0;
  text-align: center;
  padding: 20px 0;
  margin: 0;
}

li {
  list-style: none;
  display: inline-block;
  border: 1px solid #ffcedd;
  background: rgba(254, 252, 166, 0.2);
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px;
}

.weather-forecast-day {
  font-size: 25px;
}
.weather-forecast-icon {
  font-size: 30px;
}

.footer {
  padding: 20px;
  text-align: center;
}

a {
  color: #ff9ebb;
  font-weight: bold;
  text-decoration: none;
}
